img{
    margin: 0px auto;
    width: 200px;
    border-radius: 10px;
}
div#olho{
    text-align: center;
    padding-bottom: 20px;
}
div#logo{
    text-align: center;
    background-color: rgb(159, 200, 225);
}
div#select{
    padding-bottom: 10px;
}
nav{
    text-align: center;
    background-color: rgba(170, 224, 239, 0.349);
    padding: 10px;
}
a{
    padding-bottom: 10px;
    padding-left: 15px;
    text-decoration: none; 
}
footer{
    padding-top:10px;
}
article#articleQS{
    box-shadow: 5px 5px 10px;
    border-radius: 12px;
    padding: 5px;
    margin: 20px;
    background-color: rgba(170, 224, 239, 0.349);
}
article#articleFAQ{
    box-shadow: 5px 5px 10px;
    border-radius: 12px;
    padding: 5px;
    margin: 20px;
    background-color: rgba(170, 224, 239, 0.349);
}
form#formulario{
    padding-bottom: 10px;
    box-shadow: 2px 2px 5px;
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
    background-color: rgba(170, 224, 239, 0.349);
}
table, th, td{
    text-align: center;
    border-collapse: collapse;
    border: 1px solid;
    padding: 8px;
}